.tag {
  padding: 10px 20px;
  border-radius: 40px;
  background-color: #dfdfdf;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .txt {
    font-size: 24px;
    color: #666;
  }
  &.primary {
    background: linear-gradient(to right, #ff9919 , #ff5d03);
    .txt {
      color: #fff;
    }
  }
  &.small {
    padding: 4px 16px;
    border-radius: 32px;
    .txt {
      font-size: 20px;
    }
  }
}