@import '@styles/theme.scss';

.address-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff;
  margin-bottom: 20px;
  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    .user {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;
      .tag {
        margin-right: 10px;
      }
      .name {
        font-size: $text-size-3;
        color: $text-color-dark2;
        margin-right: 10px;
      }
      .phone {
        font-size: $text-size-2;
        color: $text-color-light;
      }
    }
    .address {
      font-size: $text-size-3;
      color: $text-color-light;
    }
  }
  .icon {
    width: 16px;
    height: 30px;
  }
}