@import '@styles/theme.scss';

$search-bg: #eaeaea;
$search-margin-right: $capsule-width + $capsule-padding * 2;
$search-height: $capsule-height;

.header-bar {
 	position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  .search {
	  flex: 1;
	  height: $search-height;
	  border-radius: $search-height;
	  padding-left: $search-height / 4;
	  padding-right: $search-height / 4;
	  margin-right: $search-margin-right + $search-height / 4;
	  margin-left: $search-height / 4;
	  box-sizing: border-box;
	  background-color: $search-bg;
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  .icon {
	    width: 18PX;
	    height: 18PX;
	  }
	  .input {
	    font-size: 12PX;
	    color: $text-color-dark;
	    margin-left: 4PX;
	    .placeholderClass {
	      font-size: 12PX;
	      color: $placehoder-color;
	    }
	  }
	}
}