@import '@styles/theme.scss';

.coupon-item {
  position: relative;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  margin-bottom: 15px;
  .info {
    display: flex;
    flex-direction: column;
    flex: 1;
    .introduce {
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
      .name {
        font-size: $text-size-3;
        color: $text-color-dark2;
      }
      .amount {
        font-size: $text-size-3;
        color: red;
        margin: 0 10px;
      }
      .condition {
        font-size: $text-size-2;
        color: $text-color-light;
      }
    }
    .time {
      font-size: $text-size-2;
      color: $text-color-light;
    }
  }
  .tag {
    margin-right: 50px;
  }
  .state {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #ff9919 , #ff5d03);
    position: absolute;
    top: 10px;
    right: -30px;
    transform: rotate(35deg);
    .txt {
      font-size: $text-size-1;
      color: #fff;
    }
  }
}