@import '@styles/theme.scss';

.success {
	display: flex;
	flex-direction: column;
	padding-top: 15px;
	.state {
		height: 200px;
		background-color: #fff;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		.icon {
			width: 80px;
			height: 80px;
			border-radius: 40px;
			background-color: $primary-color;
		}
		.txt {
			font-size: 36px;
			color: $primary-color;
			font-weight: 500;
			margin-left: 15px;
		}
	}
	.info {
		display: flex;
		flex-direction: column;
		padding: 10px 0;
		background-color: #fff;
		.row {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			height: 80px;
			padding: 0 30px;
			.label {
				font-size: $text-size-3;
				color: $text-color-light;
			}
			.value {
				font-size: $text-size-3;
				color: $text-color-dark2;
			}
		}
	}
}