/*Base Theme */
$primary-color: #00e072;
$bg-base-color: #f5f5f5;
$bg-white: #fff;
$text-color-dark: #333;
$text-color-dark2: #666;
$text-color-light: #999;
$placehoder-color: #a9a9a9;
$border-color: #e5e5e5;

/*Taro-ui Custom Theme */
$color-brand: $primary-color;
$color-brand-light: #40e895;
$color-brand-dark: #00b35b;
