@import '@styles/theme.scss';

.category-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 30px 15px 30px; 
  background-color: #fff;
  .item {
    height: 130px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-top: 1px solid $border-color;
    &:nth-child(2n+1) {
      border-right: 1px solid $border-color;
    }
    &:nth-child(2n+2) {
      padding-left: 20px;
    }
    &:nth-child(-n+2) {
      border-top: 0;
    }
    .left {
      display: flex;
      flex-direction: column;
      .title {
        font-size: $text-size-5;
        margin-bottom: 15px;
      }
      .desc {
        font-size: $text-size-1;
        color: $text-color-light;
      }
    }
    .right {
      width: 110px;
      height: 110px;
      .img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .category-1 {
    color: #9f96d9;
  }
  .category-2 {
    color: #6e9bbd;
  }
  .category-3 {
    color: #e961c8;
  }
  .category-4 {
    color: #e67049;
  }
}