@import '@styles/theme.scss';
.integral-mall {
	display: flex;
	flex-direction: column;
	.header {
		width: 100%;
		height: 200px;
		position: relative;
		background: linear-gradient(to right, #fce855 , #ffd126);
		padding: 0 30px;
		overflow: hidden;
		.box {
			width: 100%;
			height: 100%;
			background-color: #f5f5f5;
			padding: 20px 20px 0 20px;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			display: flex;
			flex-direction: column;
			.info {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				.label {
					color: $text-color-dark;
					font-size: $text-size-5;
				}
				.value {
					color: $text-color-light;
					font-size: $text-size-1;
				}
			}
			.integralMall {
				flex: 1;
				align-self: stretch;
				display: flex;
				flex-direction: row; 
				align-items: center;
				.count {
					.txt {
						line-height: 1;
						color: #fada31;
						font-size: 72px;
						font-weight: 500;
						vertical-align: bottom;
					}
					.util {
						color: #fada31;
						font-size: 36px;
						vertical-align: bottom;
					}
				}
			}
		}
	}
	.content {
		flex: 1;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		padding: 30px;
		.title {
			color: $text-color-dark;
			font-size: $text-size-5;
		}
		.integral-mall-list {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 30px 0;
		}
	}
}
