@import '@styles/theme.scss';

.header-bar {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	.title {
		position: absolute;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		font-size: $navigation-font-size;
		z-index: -1;
		.txt {
			font-size: $navigation-font-size;
		}
	}
}