@import '@styles/theme.scss';

.season-bar {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px 0;
  .title {
    text-align: center;
    font-size: $text-size-5;
    color: $text-color-dark2;
    margin-bottom: 30px;
  }
}