@import '@styles/theme.scss';

.tags-bar {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    .txt {
      font-size: $text-size-4;
      color: $text-color-dark2;
    }
    .clear {
      font-size: $text-size-4;
      color: $placehoder-color;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 0;
    .tag {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}