@import '@styles/theme.scss';

.evaluate {
	padding-top: 15px;
	padding-bottom: 100px;
	display: flex;
	flex-direction: column;
	.info {
		display: flex;
		flex-direction: column;
		background-color: #fff;
		margin-bottom: 15px;
		.number {
			height: 66px;
			padding: 0 30px;
			background-color: #fff;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.txt {
				color: $text-color-dark2;
				font-size: $text-size-2;
			}
		}
		.fruit-list {
			padding: 0 30px;
			background-color: #fff;
		}
	}
	.wrapper {
		display: flex;
		flex-direction: column;
		background-color: #fff;
		.score {
			display: flex;
			flex-direction: column;
			padding: 20px 30px;
			.row {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 20px;
				&:last-child{
					margin-bottom: 0;
				}
				.label {
					font-size: $text-size-2;
					color: $text-color-dark2;
					margin-right: 20px;
				}
				.state {
					font-size: $text-size-1;
					color: $text-color-light;
					margin-left: 20px;

				}
			}
		}
		.textarea {
			max-height: 200px;
			width: 100%;
			padding: 20px 30px;
			color: $text-color-dark2;
			font-size: $text-size-2;
		}
		.textarea-placeholder {
			font-size: $text-size-2;
			color: $placehoder-color;
		}
		.img-list {
			padding: 20px 30px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			border-top: 1px solid $border-color;
			.img {
				width: 120px;
				height: 120px;
				background-color: $bg-base-color;
				margin-right: 20px;
				&:last-child {
					margin-right: 0;
				}
			}
			.upload {
				width: 120px;
				height: 120px;
				border-radius: 15px;
				border: 1px dashed #ccc;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.icon {
					width: 34px;
					height: 34px;
					background-color: #ccc;
					align-self: center;
					margin-bottom: 8px;
				}
				.txt {
					font-size: $text-size-1;
					color: $text-color-light;
				}
			}
		}
		
	}
	.actions {
		padding-left: 0 30px;
		position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
		height: 80px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		background-color: #fff;
		border-top: 1px solid $border-color;
		.action {
			align-self: stretch;
			width: 158px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			font-size: $text-size-3;
			height: 80px;
			&.remove {
				color: #fff;
				background-color: $primary-color;
			}
		}
	}
}